{% extends "templates/swf_game.j2" %}

{% set game_title = "13 Days In Hell" %}

{% set swf_url = "/game-content/13-days-in-hell.swf" %}

{% block game_description %}
  aim and shoot at the guys. try to get headshots with the spinning crosshair
  <br> <br>
  the aesthetic of this one is insane. im at a loss for words
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
