{% extends "templates/swf_game.j2" %}

{% set game_title = "2 Many Bugs" %}

{% set swf_url = "/game-content/2-many-bugs.swf" %}

{% block game_description %}
  use your mouse to draw groups of similar bugs. once there is only one of each bug remaining you have beat the level
  <br> <br>
  flashgames247 will do anything to redirect you to their site but weirdly enough this is one of the games theyve since taken off their site. bug racism is a really surreal concept for a game. 
  the game doesnt really give you any time but the levels are possible and discriminating beetles from ladybugs can be fun i guess
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">flashgames247</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
