{% extends "templates/swf_game.j2" %}

{% set game_title = "4 Wheel Madness" %}

{% set swf_url = "/game-content/4-wheel-madness.swf" %}

{% block game_description %}
  up and down arrow keys to go forwards and backwards. left and right to tilt. dont crash
  <br> <br>
  really difficult but i like. dont know why flashgames247 took it off the site
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">flashgames247</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
