{% extends "templates/game.j2" %}

{% set game_title = "Abduction" %}

{% set swf_url = "/game-content/abduction.swf" %}

{% block game_description %}
  wasd to move and mouse to suck people up
  <br> <br>
  really creative and fun. using the boulders to crush people is really stupid i love it so much
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
