{% extends "templates/swf_game.j2" %}

{% set game_title = "Absolutely Hammered" %}

{% set swf_url = "/game-content/absolutely-hammered.swf" %}

{% block game_description %}
  try to hit the nails with the game controlling like youre drunk. sober up with space
  <br> <br>
  the most scottish game ive ever seen. the voicelines here are great. was too busy hitting the hand to actually progress
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
