{% extends "templates/swf_game.j2" %}

{% set game_title = "Acceleration Maze" %}

{% set swf_url = "/game-content/acceleration-maze.swf" %}

{% block game_description %}
  use arrow keys to change the acceleration of the ball
  <br> <br>
  really sick concept. music is deafeningly loud. i cannot get far in this game at all but it seems cool
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
