{% extends "templates/swf_game.j2" %}

{% set game_title = "Apple Shooter" %}

{% set swf_url = "/game-content/apple-shooter.swf" %}

{% block game_description %}
  hold down mouse and aim to try to hit the apple off his head
  <br> <br>
  that intro animation is batshit and the deaths are so detailed for no reason. kill that green bastard
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
