{% extends "templates/swf_game.j2" %}

{% set game_title = "Arm Wrestle" %}

{% set swf_url = "/game-content/arm-wrestle.swf" %}

{% block game_description %}
  spam space bar to defeat him in an arm wrestle
  <br> <br>
  this dude is so funny i love him
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">fourinchesofego.com</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
