{% extends "templates/swf_game.j2" %}

{% set game_title = "Art Thief" %}

{% set swf_url = "/game-content/art-thief.swf" %}

{% block game_description %}
  guess the number with a "too low" or "too high" system
  <br> <br>
  not readin allat!!!!
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">blockdot</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
