{% extends "templates/swf_game.j2" %}

{% set game_title = "Assassination Simulator" %}

{% set swf_url = "/game-content/assassination-simulator.swf" %}

{% block game_description %}
  click to shoot the targets. try not to click the "play more games" button
  <br> <br>
  this game takes way too long to load and wants to rediect you so bad. only added it here because of the starting 3d animation. the targets are so bullshit to hit. you cant shoot the airplane out of the sky. game bad
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">flashgames247</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
