{% extends "templates/swf_game.j2" %}

{% set game_title = "Autobahn" %}

{% set swf_url = "/game-content/autobahn.swf" %}

{% block game_description %}
  use the arrow keys to dodge and pass cars
  <br> <br>
  this game is made by the same weirdos that made "nude runner" and "watch out behind you hunter". genuinely difficult. the menu music is surreal how the fuck did they even make that
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
