{% extends "templates/game.j2" %}

{% set game_title = "Bad Pig Perfect Couple" %}

{% set swf_url = "/game-content/bad-pig-perfect-couple.swf" %}

{% block game_description %}
  bla bla bla
  <br> <br>
  bla bla bla
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/the-ultimate-angry-birds-flash-games-pack_202310" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
