{% extends "templates/game.j2" %}

{% set game_title = "Bad Piggies" %}

{% set swf_url = "/game-content/bad-piggies.swf" %}

{% block game_description %}
  make a car that gets your pig to the finish line
  <br> <br>
  not much to say about this one. didnt know there was a bad piggies flash version
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
