{% extends "templates/swf_game.j2" %}

{% block title %}Balloon Hunter - evilangry.site{% endblock %}

{% block game_title %}Balloon Hunter{% endblock %}

{% set swf_url = "/game-content/balloon-hunter.swf" %}

{% block game_description %}
  use your arrow keys to aim the bow and space to charge up and fire an arrow. try your best to hit as many balloons as you can
  <br> <br>
  this game is fucking ass and i cant win for the life of me. fullscreen also bugs the background because flash can't handle resizing lmao.
  you can see the background teleporting back to wrap around
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/1100_ballon_hunter" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
