{% extends "templates/game.j2" %}

{% set game_title = "Balls Of Life" %}

{% set swf_url = "/game-content/balls-of-life.swf" %}

{% block game_description %}
  arrow keys to move and jump around
  <br> <br>
  genuinely a simple fun platformer. a little difficult but it actually feels earned here
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
