{% extends "templates/swf_game.j2" %}

{% set game_title = "Bash The Computer" %}

{% set swf_url = "/game-content/bash-the-computer.swf" %}

{% block game_description %}
  click on what part of the computer you want to bash
  <br> <br>
  god i love these animations so much. the animation for slapping the side of the case is great and i like how he decimates the mouse
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
