{% extends "templates/game.j2" %}

{% set game_title = "Battle Fields" %}

{% set swf_url = "/game-content/battle-fields.swf" %}

{% block game_description %}
  arrow keys to move and mouse to aim and fire
  <br> <br>
  if you do your best not to click the redirect buttons on the menu this game is genuinely fun. i really missed the survive and upgrade type of games. 
  one of those difficult flash games that gets fun when you sink too much time into it
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">flashgames247</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
