{% extends "templates/game.j2" %}

{% set game_title = "Be The Slayer" %}

{% set swf_url = "/game-content/be-the-slayer.swf" %}

{% block game_description %}
  click on the vampires before they attack you
  <br> <br>
  i cant pinpoint what i like so much about this game. its absolutely horrible and dracula looks like a penis in the death screen
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
