{% extends "templates/game.j2" %}

{% set use_warning = True %}

{% block warning %}
the game has ucanny 90s era naked women renders<br>
only continue if you wanna see that<br>
its just really uncomfortable lol
{% endblock %}

{% set game_title = "Beach Tennis" %}

{% set swf_url = "/game-content/beach-tennis.swf" %}

{% block game_description %}
  i do not know how to play this game. i think you press space
  <br> <br>
  basically an ancient 3d render porn game
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
