{% extends "templates/game.j2" %}

{% set game_title = "Beary Scary" %}

{% set turbowarp_url = "/game-content/beary-scary.html" %}

{% block game_description %}
  click the game before starting if space bar doesnt work. dodge the bear with the arrow keys. see how long you can survive
  <br> <br>
  this is my pal zak's first scratch game. he didnt know what he was doing and its wonderous. i like the really sparingly used sound effects a lot
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/700354084/" target="_blank" rel="noopener noreferrer">zakwithnoc</a> <br>
  <strong>year published:</strong> 2022 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
