{% extends "templates/tw_game.j2" %}

{% set game_title = "Beary Scary" %}

{% set turbowarp_url = "/game-content/beary-scary.html" %}

{% block game_description %}
  bla bla bla remind me to put something here
  <br> <br>
  bla bla bla remind me to put something here
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/700354084/" target="_blank" rel="noopener noreferrer">zakwithnoc</a> <br>
  <strong>year published:</strong> 2022 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
