{% extends "templates/swf_game.j2" %}

{% set game_title = "Beer Pong" %}

{% set swf_url = "/game-content/beer-pong.swf" %}

{% block game_description %}
  use the space key to aim the ball into the cups
  <br> <br>
  it is insanely hard to get any of the cups unless you sink too much time into understand the jank of how the aiming system works. for some reason the center of the distance slider doesnt even hit a cup and you have to go lower.
  i highly reccomend taking a shot whenever you miss a cup so you can waste away in margaritaville like the game intended  
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
