{% extends "templates/game.j2" %}

{% set use_warning = True %}

{% block warning %}
  this game is a nine eleven era "anti-terrorism" game<br>
  only continue if you wanna see that<br>
  the war on terror was so fucking funny
{% endblock %}

{% set game_title = "Bin Laden Liquors" %}

{% set swf_url = "/game-content/bin-laden-liquors.swf" %}

{% block game_description %}
  shoot osama or shoot the hostages if you want
  <br> <br>
  this is the best thing to come out of the iraq and afghanistan war. the line delivery of "youre messing with the wrong people, bin laden" is great. very american and of its time
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
