{% extends "templates/game.j2" %}

{% set game_title = "Bird Chase" %}

{% set swf_url = "/game-content/bird-chase.swf" %}

{% block game_description %}
  click on birds to shoot them. try to shoot as many as you can
  <br> <br>
  german game about killing birds. shooting the airplane is funny
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
