{% extends "templates/game.j2" %}

{% set game_title = "Blasteroids" %}

{% set swf_url = "/game-content/blasteroids.swf" %}

{% block game_description %}
  fly your ship with the arrow keys and do your best to blow up asteriods. i do not know much except space does something and you loop around the screen if you hit the edges
  <br> <br>
  this game looks like it might be fun but i do not know how to play. love the sound design and visuals
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">mike dogan</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
