{% extends "templates/swf_game.j2" %}

{% set game_title = "Blob Lander" %}

{% set swf_url = "/game-content/blob-lander.swf" %}

{% block game_description %}
  arrow keys to maneuver. dont hit anything i guess? i can not figure out for the life of me how to beat a level
  <br> <br>
  genuinely this game is fucking bullshit and if you can find a way to get past level one email me now
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
