{% extends "templates/swf_game.j2" %}

{% set game_title = "Bloxorz" %}

{% set swf_url = "/game-content/bloxorz.swf" %}

{% block game_description %}
  arrow keys to move your monolith. fall into the square hole
  <br> <br>
  bloxorz and all the other coolmathgames hold a very special place in my heart. this might be one of my favorite puzzle games. genuinely this is the only game that has made me feel like im thinking three-dimensionally
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
