{% extends "templates/game.j2" %}

{% set game_title = "Bomb Pearl Harbour" %}

{% set swf_url = "/game-content/bomb-pearl-harbour.swf" %}

{% block game_description %}
  dodge the planes. x to shoot and z to drop bombs
  <br> <br>
  insane that i found this and not one nine eleven flash game. you can pretend the boats are towers and crash into them if need be
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
