{% extends "templates/game.j2" %}

{% set game_title = "Bowling 2" %}

{% set swf_url = "/game-content/bowling-2.swf" %}

{% block game_description %}
  bla bla bla
  <br> <br>
  bla bla bla
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
