{% extends "templates/game.j2" %}

{% set game_title = "Funny Little Guys" %}

{% set turbowarp_url = "/game-content/funny-little-guys.html" %}

{% block game_description %}
  click on the guys to squash them
  <br> <br>
  the game gets loud if you let them build up
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/730585433/" target="_blank" rel="noopener noreferrer">largestintestine</a> <br>
  <strong>year published:</strong> 2022 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
