{% extends "templates/swf_game.j2" %}

{% set game_title = "Handless Millionaire" %}

{% set swf_url = "/game-content/handless-millionaire.swf" %}

{% block game_description %}
  maneuver the hand under the blade with the mouse. click to grab the money
  <br> <br>
  one of the best ones on here. really simple but also stressful as butt
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/adult-flash-games" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
