{% extends "templates/game.j2" %}

{% set game_title = "Helicopter Attack" %}

{% set turbowarp_url = "/game-content/helicopter-attack.html" %}

{% block game_description %}
  use wasd or arrow keys to dodge bombs from the helicopter. in 2 player, helicopter controls with mouse and space
  <br> <br>
  probably one of the best 2 player games to play with parsec. that poles map is genuinely evil
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/155755836/" target="_blank" rel="noopener noreferrer">legomariobros</a> <br>
  <strong>year published:</strong> 2020 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
