{% extends "templates/tw_game.j2" %}

{% block title %}Helicopter Attack - evilangry.site{% endblock %}

{% block game_title %}Helicopter Attack{% endblock %}

{% set turbowarp_url = "/game-content/helicopter-attack.html" %}

{% block game_description %}
  bla bla bla remind me to put something here
  <br> <br>
  bla bla bla remind me to put something here
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/155755836/" target="_blank" rel="noopener noreferrer">legomariobros</a> <br>
  <strong>year published:</strong> 2020 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
