{% extends "templates/game.j2" %}

{% set game_title = "mfibagor AOTFXA-XEC_L" %}

{% set turbowarp_url = "/game-content/mfibagor.html" %}

{% block game_description %}
  i cannot wrap my head around this
  <br> <br>
  clicking the guys does things and also up arrow seems to do things
  <br> <br>
  <strong>developed by:</strong> unknown <br>
  <strong>year published:</strong> 2001 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
