{% extends "templates/game.j2" %}

{% set use_warning = True %}

{% block warning %}
this game has a nasty drawn dick flailing around the menu screen<br>
only continue if you wanna see that<br>
french flash game developers in the early 2000s were freaks
{% endblock %}

{% set game_title = "Nude Runner" %}

{% set swf_url = "/game-content/nude-runner.swf" %}

{% block game_description %}
  run from the police with the arrow keys. space to jump. dance with down arrow
  <br> <br>
  almost didn't add this game to the site but its honestly really fun if you forget the wonderful title screen. what is wrong with french people
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/adult-flash-games" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
