{% extends "templates/game.j2" %}

{% set game_title = "rabgmfoi(1) XCXTEFA-_OAL" %}

{% set turbowarp_url = "/game-content/rabgmfoi(1).html" %}

{% block game_description %}
  i think im trying to click the guys while running from the umbrella (who is chasing my cursor)
  <br> <br>
  "You will figure it out." he bodes. hmmmm how high a score can you get
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/1380146310/" target="_blank" rel="noopener noreferrer">ohhgh</a> <br>
  <strong>year published:</strong> 2001 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
