{% extends "templates/tw_game.j2" %}

{% block title %}Robot Tag Multiplayer - evilangry.site{% endblock %}

{% block game_title %}Robot Tag Multiplayer{% endblock %}

{% set turbowarp_url = "/game-content/robot-tag-multiplayer.html" %}

{% block game_description %}
  fucking ass
  <br> <br>
  fucking dick
{% endblock %}
