{% extends "templates/tw_game.j2" %}

{% set game_title = "Robot Tag Multiplayer" %}

{% set turbowarp_url = "/game-content/robot-tag-multiplayer.html" %}

{% block game_description %}
  red player uses arrow keys, blue uses wasd, green uses uhjk. tag the other player before your time runs out
  <br> <br>
  local multiplayer games are so fun with parsec if you don't have someone immediately in person. i like the three player mode in this one too, 
  most local multiplayer games don't have that. the screen looping is so fun to mess with! really cool that it was made in scratch
  <br> <br>
  <strong>developed by:</strong> <a href="https://scratch.mit.edu/projects/152360312/" target="_blank" rel="noopener noreferrer">legomariobros</a> <br>
  <strong>year published:</strong> 2024 <br>
  <strong>software:</strong> scratch <br>
{% endblock %}
