{% extends "templates/swf_game.j2" %}

{% set game_title = "St. Mulligan's 3 Putt" %}

{% set swf_url = "/game-content/st-mulligans-3-putt.swf" %}

{% block game_description %}
  its a simple golf game. the ball will head in the direction oppisite from the cursor. the strength is determined by your distance from the ball
  <br> <br>
  this is way too much whimsy and joy for a golf flash game. the 3d render sprites make me wanna place this game somewhee in the 90's but i couldnt find an exact date. 
  i really like how the four playable characters are: an irish angel, a vampire, some kind of bard, and a cartoony bee. i forgot to mention but local multiplayer win. use parsec to play with a friend
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
