{% extends "templates/game.j2" %}

{% set game_title = "Talking Tom 2" %}

{% set swf_url = "/game-content/talking-tom-2.swf" %}

{% block game_description %}
  try to click on him and do things and sometimes it works
  <br> <br>
  this shit is so broken and laggy. i didnt even know there was a flash version lmao
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/talking-tom-cat-2-flash" target="_blank" rel="noopener noreferrer">outfit7</a> <br>
  <strong>year published:</strong> 2011 <br>
  <strong>software:</strong> flash <br>
{% endblock %}