{% extends "templates/swf_game.j2" %}

{% block title %}Talking Tom - evilangry.site{% endblock %}

{% block game_title %}Talking Tom{% endblock %}

{% set swf_url = "/game-content/talking-tom.swf" %}

{% block game_description %}
  try to click on him and do things and sometimes it works
  <br> <br>
  this shit is so broken and laggy. i didnt even know there was a flash version lmao
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/ass-hunter" target="_blank" rel="noopener noreferrer">uzinagaz</a> <br>
  <strong>year published:</strong> 2002 <br>
  <strong>software:</strong> flash <br>
{% endblock %}