{% extends "templates/swf_game.j2" %}

{% set game_title = "The Maze" %}

{% set swf_url = "/game-content/the-maze.swf" %}

{% block game_description %}
  reach the goal without touching the walls
  <br> <br>
  scary maze game is a classic. i don't have much else to note except appreciation. if you meet anyone who hasnt played this before please see their reaction
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/flash-games_202408" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
