{% extends "templates/game.j2" %}

{% set game_title = "Wak The Sak" %}

{% set swf_url = "/game-content/wak-the-sak.swf" %}

{% block game_description %}
  bla bla bla
  <br> <br>
  bla bla bla
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/adult-flash-games" target="_blank" rel="noopener noreferrer">unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> flash <br>
{% endblock %}
