{% extends "templates/game.j2" %}

{% set game_title = "Watch Out Behind You Hunter" %}

{% set swf_url = "/game-content/watch-out-behind-you-hunter.swf" %}

{% block game_description %}
  use left and right arrow keys to turn the hunter and space to fire. ctrl to reload when you have a clip. don't let the men get you
  <br> <br>
  this game is absolutely mortifying but ends up fun when you get the hang of it. this is definitely one of my favorites not just because 
  of the shock value but with how perfectly janky and dumb it is to play. that death scream will forver be my favorite sound effect in any flash game
  <br> <br>
  <strong>developed by:</strong> <a href="https://archive.org/details/ass-hunter" target="_blank" rel="noopener noreferrer">uzinagaz</a> <br>
  <strong>year published:</strong> 2002 <br>
  <strong>software:</strong> flash <br>
{% endblock %}