{% extends "templates/game.j2" %}

{% set game_title = "World Of Travel" %}

{% set turbowarp_url = "/game-content/world-of-travel.html" %}

{% block game_description %}
  left and right arrows to move. dont touch the enemies. space makes the hitbox follow your cursor for a few seconds before dropping your charater where your mouse is
  <br> <br>
  what a wonderous game. satan bossfight
  <br> <br>
  <strong>developed by:</strong> <a>unknown</a> <br>
  <strong>year published:</strong> unknown <br>
  <strong>software:</strong> unknown <br>
{% endblock %}
