/* http://bettermotherfuckingwebsite.com/ */
body {
  font-family: sans-serif;
  background: #000000;
  line-height: 1.6em;
  font-size: 18px;
  color: #FFFFFF;
  padding: 0 10px;
}

#game-container:fullscreen ruffle-object,
#game-container:fullscreen iframe {
  width: 100% !important;
  height: 100% !important;
}

#game-container:fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}