{% extends "templates/base.j2" %}

{% block content %}
  <br><br><br><br>
  <h1>WELCOME TO EVIL ANGRY SITE FOR GAMES YEAH</h1>
  <br>
  <a href="game/balloon-hunter.html">Balloon Hunter</a>
  <br>
  <a href="game/helicopter-attack.html">Helicopter Attack</a>
  <br>
  <a href="game/robot-tag-multiplayer.html">Robot Tag</a>
  <br>
  <a href="game/talking-tom.html">Talking Tom</a>
  <br>
  <a href="game/watch-out-behind-you-hunter.html">Watch Out Behind You Hunter</a>
  <br>
{% endblock %}
