{% extends "templates/base.j2" %}

{% block content %}
  <br><br><br>
  <h1>WELCOME TO EVIL ANGRY SITE FOR GAMES YEAH</h1>
  <br>
  {% for file in get_template_files('game/*.j2') %}  
    {{ file }}
  {% endfor %}  
{% endblock %}
