{% extends "templates/base.j2" %}

{% block content %}
  <br><br><br>
  <h1>WELCOME TO EVIL ANGRY SITE FOR GAMES YEAH</h1>
  <br>

  {% set all_games = get_template_files('game/*.j2') %}

  {% for game in all_games|sort %}
    {% set game_title = get_external_variable(game, "game_title") %}

    <a href="/{{ game|replace(".j2", ".html") }}">{{ game_title }}</a><br>
  {% endfor %}
{% endblock %}
